header {
    height: 50px;
    background-color: blue;
}
.banner {
    height: 300px;
    background-color: blue;
}
.content {
    height: 200px;
}
footer {
    height: 100px;
    background-color: blue;
}